services:
  db:
    image: postgres:18.1-alpine3.23
    container_name: kyte-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: kyte
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: