.brutal-input, .brutal-textarea {
  width: 100%;
  background: #FFFFFF;
  border: 2px solid #000000;
  padding: 10px 12px;
  font-family: var(--fonts-body);
  font-size: 13px;
  font-weight: 600;
  color: #000000;
  outline: none;
  transition: all 0.1s;
  border-radius: 0;
}

.brutal-input.brutal:focus, .brutal-textarea.brutal:focus {
  box-shadow: 4px 4px 0px #000000;
  transform: translate(-2px, -2px);
}

.brutal-textarea {
  min-height: 80px;
  resize: vertical;
}

.brutal-input::placeholder, .brutal-textarea::placeholder {
  color: #999999;
  font-weight: 400;
}
